:root {
  --primary-blue: #215184;
  --font-color: #545454;
  --font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
}

body {
  /* font-family: var(--font-family); */
  color: var(--font-color);
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
      url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
      url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('../fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
      url('../fonts/BrandonGrotesque-Black.woff') format('woff'),
      url('../fonts/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
      url('../fonts/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



/*LOGO*/

.logo_div {
  position: fixed;
}

.spacex_logo {
  max-height: 22px;
}

.logo_text {
  display: inline;
  font-family: "Brandon Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}




/*BUTTONS*/

button, select {
  background-color: var(--primary-blue);
  color: white;
  width: 140px;
  min-height: 35px;
  font-family: var(--font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  text-align-last: center;
  border: none;
  border-radius: 0px;
}

.all_buttons {
  display: block;
  position: fixed;
  right: 0px;
  max-height: 15vh;
}


/*if screen is less than 500px wide then give more space at the top before displaying the buttons so they don't overlap the logo*/
@media only screen and (max-width: 500px) {
  .all_buttons {
    top: 8vh;
  }
}

.reload_button {
  display: block;
  float: right;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.reload_button button {
  width: 100px;
}

.inline_buttons {
  display: inline-block;
  margin-top: 30px;
}

.sort_button {
  display: inline-block;
  width: 150px;
  margin-right: 50px;
}

.sort_icon {
  vertical-align: middle;
}

.year_filter {
  display: inline-block;
  margin-right: 15px;
}




/*IMAGE AND LIST CONTAINER*/

.main_container {
  display: block;
  position: fixed;
  width: 100vw;
  top: 25vh;
  max-height: 70vh;
  overflow: scroll;
}

.launch_img {
  position: fixed;
  display: inline-block;
  max-width: 40vw;
  max-height: 75vh;
  float: left;
}

.list_loading, .launch_list {
  display: inline-block;
  position: relative;
  padding-left: 45vw;
  width: 50%;
}

.list_loading {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

/*If screen is less than 500px wide then allow more space at top before displaying container to allow for buttons to wrap around logo and don't display the image*/

@media only screen and (max-width: 500px) {
  .main_container {
    top: 30vh;
  }
  .launch_img {
    display: none;
  }
  .list_loading, .launch_list {
    padding-left: 10px;
    width: 90vw;
  }
}




/*LIST ITEMS*/
ul {
  list-style-type: none;
  padding-top: 10px;
}

.list_element {
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flight_number, .list_item_container_right {
  display: inline-block;
}

.list_item_container_right {
  float: right;
  text-align: right;
  margin-right: 10px;
  margin-left: 20px;
}

.flight_number, .mission_name {
  display: inline-block;
}

.flight_number {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  margin:10px 70px 0px 10px;
}

.mission_name {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.launch_date {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rocket_name {
  font-family: var(--font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}


/*if screen is less than 500px wide then change layout of list so there's less chance of text overlap/items looking like they're part of the wrong list item*/
@media only screen and (max-width: 500px) {
  .flight_number, .mission_name {
    display: block;
  }
}
